* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #E6E6E6;
  margin: 0;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5C7AEA;
  color: #E6E6E6;
  padding: 2rem;
  margin-bottom: 2rem;
}

header > h1 {
  font-size: 4rem;
}

header > form {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header > form > input {
  margin-right: 0;
  border: 2px solid #E6E6E6;
  border-right: none;
  width: 80%;
  font-size: 1rem;
  border-radius: 10px 0px 0px 10px;
  padding: .5rem;
}

header > form > button {
  margin-left: 0;
  border: 2px solid #E6E6E6;
  border-left: none;
  width: 15%;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 0px 10px 10px 0px;
}

.gifs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}